{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>    Centripetal Acceleration Calculator | Free Calculator to calculate Centripetal Acceleration </title>
<meta name="description"
    content="    Friction Loss Calculator makes it easy for you to find   Friction Loss ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content=" Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta property="og:description" content="    Friction Loss Calculator" />
<meta content="" property="og:site_name" />
    
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="    Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Centripetal Acceleration Calculator</tittle>
<meta property='og:title' content="    Friction Loss Calculator |     Friction Loss" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}
{% block content %}

<style>
    input {
        text-align: right;
    }
</style>
<br>
<br>
<br>
<body>
	<script>
		function Clean(){
            document.getElementById('cards').innerHTML=''
            document.getElementById('cards1').innerHTML=''
		}
        function handleSubmit(event) {
            if(!validate()) {
                event.preventDefault();
            }
            return;
        }
        function ClearFields() {
            document.getElementById("Ib1").value = "";
            document.getElementById("Ib2").value = "";
            document.getElementById("Ib3").value = "";
        }
	</script>
    <div class="container">
	<div class="card">
		<h1 class="card-header" style="background-color:#00BFFF;color: white;">Centripetal Acceleration Calculator</h1>
		<div class="card-body">
			<form method="POST" onclick="handleSubmit();">
				{% csrf_token %}
				<div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><strong>Centripetal Acceleration (a)</strong></div>
                    </div>
                    <input type="text"  id="Ib1" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num1" value = "{{num1}}" required >
					<div class="input-group-text"><strong>meter/sec²</strong></div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Velocity (v)</strong></div>
                        </div>
                        <input type="text"  id="Ib2" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num2" value = "{{num2}}" required >
                        <div class="input-group-text"><strong>meter/sec</strong></div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><strong>Radius (r)</strong></div>
                            </div>
                            <input type="text"  id="Ib3" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num3" value = "{{num3}}" required >
                            <div class="input-group-text"><strong>meters</strong></div>
                            </div>
                            <div class="center col mt-2">
                                <center>
                                <input type="submit" class="btn btn-primary" value="Calculate" onclick="myFunction()">
                                <input type="button" class="btn btn-danger" onclick="Clean();ClearFields();" value="Reset" style="margin-top: 5px;">
                                </center>
                            </div>
				</form>
                </div>
		</div>
	</div>
    {%if cas %}
	<div class = "container" id = "cards">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;text-align: center;">The {{uks}} is </h1>
        <div class="card-body">
            <p>{{uks}} = <strong>{{ukv}} {{unit}}</strong></p>
        </div>
    </div>
	</div>
{% endif%}
    {% if cas %}
    <div class="container" id = "cards1">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;text-align: center;">Steps for Finding {{uks}}</h1>
        <div class="card-body">
            <p>acceleration means a change in velocity. When the object is moving in a circular fashion, it has an acceleration vector that points towards the centre of the circle. The acceleration experienced by the moving object is called the centripetal acceleration. The unit of centripetal acceleration is m/s2. In general, centripetal means towards the centre. Similarly, the force that causes the acceleration towards the centre of the circle is called the centripetal force. </p>
            <h5>Given Values</h5>
            <ul>
                <li><p>{{g1}} = {{gn1}} {{u1}}</p></li>
                <li><p>{{g2}} = {{gn2}} {{u2}}</p></li>
            </ul>
            <p>We need to find the value of x, Here it is <b>{{uks}}</b></p>
            <h4 class="card-text">
                As per the Centripetal Acceleration Formula: <br>
                a = v<sup>2</sup>/r
            </h4>
            <p>where</p>
            <ul>
                <li><p>a = Centripetal Acceleration</p></li>
                <li><p>v = Velocity</p></li>
                <li><p>r = Radius</p></li>
            </ul>
            <p>On substitution of given values in the formula above, we get</p>
            <p>The value of unknown x i.e.. </p>
            <h4><b> {{uks}} = {{ukv}} {{unit}}</b></h4>
        </div>
    </div>
	{% endif %}
    <script>
        var scrollDiv = document.getElementById("cards").offsetTop;
        window.scrollTo({ top: scrollDiv, behavior: 'smooth' });
        
            function myFunction() {
                document.getElementById("cards").innerHTML = "";
        
            }
        </script>
</body>
{%endblock%}
