{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Current Density Calculator | Free Calculator to find the current density</title>
<meta name="description"
    content="Current Density Calculator makes it easy for you to find current density." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Theoretical Yeild Calculator | Free Calculator to find Theoretical Yeild" />
<meta property="og:description" content="Theoretical Yeild Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Theoretical Yeild Calculator | Free Calculator to find Theoretical Yeild" />
<meta name="twitter:description"
    content="Magnetic force between wires Calculator makes it easy for you to find magnetic force between wires." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Theoretical Yeild Calculatorr | Theoretical Yeild" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property='og:description' content="Magnetic force between wires Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->



{% endblock %}
{% block content %}
<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Current Density Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>
            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Electric Current</strong></div>
                        </div>
                        <input type="number" min="0.00001" step="any" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter electric current"  class="form-control" name="currentobj"  {% if current %} value="{{current}}" {% else %} value="6" {% endif %}>
                        <select class="select form-control" id="inlineFormInputGroup" name="currentop">
                        {% if currentop == 'A' %}
                            <option value="A" selected="selected"> A</option>
                            {% else %}
                            <option value="A">Ampere(A)</option>
                            {% endif %}
                            {% if currentop == 'mA' %}
                            <option value="mA" selected="selected">milli Ampere(mA)</option>
                            {% else %}
                            <option value="mA">milli Ampere(mA)</option>
                            {% endif %}
                            {% if currentop == 'kA' %}
                            <option value="kA" selected="selected">Kilo Ampere(kA)</option>
                            {% else %}
                            <option value="kA">Kilo Ampere(kA)</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Area of Conductor</strong></div>
                        </div>
                        <input type="number" min="0.00001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter area"  class="form-control" step="any" name="areaobj"  {% if area %} value="{{area}}" {% else %} value="6" {% endif %} >
                        <select class="select form-control" id="inlineFormInputGroup" name="areaop">
                            {% if areaop == 'm²' %}
                            <option value="m²" selected="selected">m²</option>
                            {% else %}
                            <option value="m²">m²</option>
                            {% endif %}
                            {% if areaop == 'km²' %}
                            <option value="km²" selected="selected">km²</option>
                            {% else %}
                            <option value="km²">km²</option>
                            {% endif %}
                            {% if areaop == 'cm²' %}
                            <option value="cm²" selected="selected">cm²</option>
                            {% else %}
                            <option value="cm²">cm²</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                            class="btn btn-danger">Reset</button>
                        </center>
                    </div>
            </form>
        </div>
    </div>
</div>
{% if id == 1 %}
<div id="clear">
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Current Density</h2>
        </div>
        <div class="card-body">
            <strong>Current Density Formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">Electric Current Density = Electric Current/Area of Conductor</p>
            <br>
            <p class="btn btn-outline-secondary active">J = I/A</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>Electric Current(i) - Electric Current is the time rate of flow of charge through a cross sectional area. (Measured in Ampere) </li>
                        <li>Area of Conductor(A) - Area of conductor is the measure of area swept. (Measured in Square Meter)</li>
                        <li>J is the Current Density</li>
                    </ul>
            <strong>Input values are:-</strong>
            <p>Current = {{current}} {{currentop}} </p>
            <p>Area = {{area}} {{areaop}}</p>
            {% if currentop != 'A' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Current : {{current}}<b><i>"{{currentop}}"</i></b> to
                    <b><i>"A"</i></b></b>
                </summary>
                <p>Current in {{currentop}} = {{current}} {{currentop}}</p>
                {% if currentop == 'mA' %}
                <p>1 mA = 0.001 A</p>
                <p>Current in A = 0.001 * {{current}} = {{current1}} A </p>
                {% endif %}
                {% if currentop == 'kA' %}
                <p>1 kA = 1000 A</p>
                <p>Current in A = 1000 * {{current}} = {{current1}} A </p>
                {% endif %}
            </details>
            {% endif %}
            <br>
            {% if areaop != 'm²' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Area : {{area}}<b><i>"{{areaop}}"</i></b> to
                    <b><i>"m²"</i></b></b>
                </summary>
                <p>Area in {{areaop}} = {{area}} {{areaop}}</p>
                {% if areaop == 'km²' %}
                <p>1 km² = 10⁶ m²</p>
                <p>Area in m² = 10⁶ * {{area}} = {{area1}} m² </p>
                {% endif %}
                {% if areaop == 'cm²' %}
                <p>1 cm² = 0.0001 m²</p>
                <p>Area in m² = 0.0001 * {{area}} = {{area1}} m² </p>
                {% endif %}
            </details>
            {% endif %}
            <strong>Put values into formula</strong>
            <p>  J = I/A
            <p>  J = {{current1}} /  {{area1}} </p>
            <p><b> Current Density= {{currentdensity}} A/m² </b></p>
        </div>
    </div>
</div>
{% endif %}
<script>
    
    {% if id == 1 %}
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}

    function myFunction() {
        document.getElementsByName("currentobj")[0].value = "";
        document.getElementsByName("areaobj")[0].value = "";

        document.getElementById("clear").innerHTML = "";

    }
</script>    
{% endblock %}