{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>    Identifying Perfect Cube Calculator | Free Calculator to Identify Perfect Cube </title>
<meta name="description"
    content="    Friction Loss Calculator makes it easy for you to find   Friction Loss ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content=" Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta property="og:description" content="    Friction Loss Calculator" />
<meta content="" property="og:site_name" />
    
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="    Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Identifying Perfect Cube Calculator</tittle>
<meta property='og:title' content="    Friction Loss Calculator |     Friction Loss" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}
{% block content %}

<style>
    input {
        text-align: right;
    }
</style>
<br>
<br>
<br>
<body>
	<script>
		function Clean(){
            document.getElementById('cards').innerHTML=''
		}
	</script>
	<div class = "container">
	<div class="card">
		<h1 class="card-header" style="background-color:#00BFFF;color: white;">Identifying Perfect Cube Calculator</h1>
		<div class="card-body">
                <form action="identifying_perfect_cube" method = "POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Enter Number</h5>
                              <input type="number"  id="Ib" class="form-control mt-1" name="num1"  required >
                                <div class="center col mt-2">
                                    <center>
                                    <input type="submit" class="btn btn-primary" value="Calculate">
                                    <input type="button" class="btn btn-danger" onclick="Clean()" value="Reset" style="margin-top: 5px;">
                                    </center>
                                </div>
                          </div>
                        </div>
                        </div>
                        <div class="col-sm-4">
                          </div>
                      </div>
                      
                </form>
            </div>
            </div>
        </div>
        {%if cas %}
	<div class = "container" id = "cards">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;text-align: center;">Detailed Explanation</h1>
        <div class="card-body">
            <h3>Given Value = {{num1}}</h3>

            <br>
            <h3>Steps to Identify a Number is Perfect Cube or not</h3>
            <ul>
                <li><h4>A number N is perfect cube if we can write it in the form N = a*a*a, where a is an integer <br><br>
                {%if c1%}
                Here, we can write {{num1}} = {{st}}.<br><br> Hence {{num1}} is a perfect cube</h4></li>
                {%endif%}
                {%if c2%}
                Here we cannot write {{num1}} in the form of a*a*a, where a being any integer.<br><br> Hence, it is not a perfect cube</h4></li>
                {%endif%}
            </ul>
            <br>
            {%if c1%}
            <h2>{{num1}} is a perfect cube of {{resa}}</h2>
            {%endif%}
            {%if c2%}
            <h2>{{num1}} is not a perfect cube</h2>
            {%endif%}
        </div>
    </div>
	</div>
	{% endif %}
</body>
{%endblock%}