{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>    Instantaneous Velocity Calculator | Free Calculator to calculate Instantaneous Velocity </title>
<meta name="description"
    content="    Friction Loss Calculator makes it easy for you to find   Friction Loss ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content=" Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta property="og:description" content="    Friction Loss Calculator" />
<meta content="" property="og:site_name" />
    
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="    Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Speed Conversion Calculator</tittle>
<meta property='og:title' content="    Friction Loss Calculator |     Friction Loss" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}
{% block content %}

<style>
    input {
        text-align: right;
    }
</style>
<br>
<br>
<br>
<body>
	<script>
		function Clean(){
			document.getElementById('cards').innerHTML=''
			document.getElementById('cards1').innerHTML=''
		}
		function handleSubmit(event) {
            if(!validate()) {
                event.preventDefault();
            }
            return;
        }
	</script>
	<div class = "container">
	<div class="card">
		<h1 class="card-header" style="background-color:#00BFFF;color: white;">Instantaneous Velocity Calculator</h1>
		<div class="card-body">
			<form  method="POST" onsubmit="handleSubmit();">
				{% csrf_token %}
				<div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><strong>Final Position (x2)</strong></div>
                    </div>
                    <input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num1" value="{{num1}}" required >
					<div class="input-group-text"><strong>meters</strong></div>
                    </div>
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text"><strong>Initial Position (x1)</strong></div>
						</div>
						<input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num2" value="{{num2}}" required >
						<div class="input-group-text"><strong>meters</strong></div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><strong>Final Time (t2)</strong></div>
							</div>
							<input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num3" value="{{num3}}" required >
							<div class="input-group-text"><strong>sec</strong></div>
							</div>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"><strong>Initial Time (t1)</strong></div>
								</div>
								<input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num4" value="{{num4}}" required >
								<div class="input-group-text"><strong>sec</strong></div>
								</div>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><strong>Instantaneous Velocity (V)</strong></div>
									</div>
									<input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num5" value="{{num5}}" required >
									<div class="input-group-text"><strong>meter/sec</strong></div>
									</div>
									<div class="center col mt-2">
										<center>
										<input type="submit" class="btn btn-primary" value="Calculate" onclick="myFunction()">
										<input type="button" class="btn btn-danger" onclick="Clean()" value="Reset" style="margin-top: 5px;">
										</center>
									</div>
				</form>
		</div>
	</div>
	</div>
	{%if cas %}
	<div class = "container" id = "cards">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;text-align: center;">{{uk}} in Instantaneous Velocity is</h1>
        <div class="card-body">
            <p><b>{{uk}} = {{result}} {{uu}}</b></p>
        </div>
    </div>
	</div>
{% endif%}
	{%if cas %}
	<div class="container"  style="height: auto !important;" id = "cards1">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;text-align: center;">Steps to find {{uk}} in Instaneous Velocity</h1>
        <div class="card-body">
			<p>The instantaneous velocity is defined as the velocity of an object at the instant of time. It is a vector quantity. In general, the instantaneous velocity is the velocity of an object under the motion in a point of time. The SI unit to represent the instantaneous velocity is m/s.</p>
            <h5>Given Values</h5>
            <ul>
                <li><p>{{g1}} = {{gn1}} {{u1}}</p></li>
                <li><p>{{g2}} = {{gn2}} {{u2}}</p></li>
                <li><p>{{g3}} = {{gn3}} {{u3}}</p></li>
                <li><p>{{g4}} = {{gn4}} {{u4}}</p></li>
            </ul>
            <p>We need to find the value of x.Here in this case, it is <b>{{uk}}</b></p>
            <h4 class="card-text">
                As per the Instantaneous Velocity Formula: <br>
                V = (x2-x1)/(t2-t1)
            </h4>
			<p>where</p>
            <ul>
                <li><p>V = Instantaneous Velocity</p></li>
                <li><p>x2 = Final Position</p></li>
                <li><p>x1 = Initial Position</p></li>
                <li><p>t2 = Final Time</p></li>
				<li><p>t1 = Initial Time</p></li>
            </ul>
            <p>On substitution of given values in the formula above, we get</p>
            <p>The value of unknown x i.e..</p>
			<h4><b>{{uk}} = {{result}} {{uu}}</b></h4>
        </div>
    </div>
	</div>
	{% endif %}
	<script>
		var scrollDiv = document.getElementById("cards").offsetTop;
		window.scrollTo({ top: scrollDiv, behavior: 'smooth' });
		
			function myFunction() {
				document.getElementById("cards").innerHTML = "";
		
			}
		</script>
</body>
{% endblock %}
