{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>    Reistor Color Code Calculator | Free Calculator to calculate Resistor Color Code </title>
<meta name="description"
    content="    Friction Loss Calculator makes it easy for you to find   Friction Loss ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content=" Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta property="og:description" content="    Friction Loss Calculator" />
<meta content="" property="og:site_name" />
    
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="    Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Resistor Color Code Calculator</tittle>
<meta property='og:title' content="    Friction Loss Calculator |     Friction Loss" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}
{% block content %}

<style>
    input {
        text-align: right;
    }
</style>
<br>
<br>
<br>
<body>
	<script>
		function Clean(){
            document.getElementById('cards').innerHTML=''
		}
	</script>
    <div class="container">
	<div class="card">
		<h1 class="card-header" style="background-color:#00BFFF;color: white;">Resistance Color Code Calculator</h1>
		<div class="card-body">
            <div class = "form-group">
            <form id="form-shower">
                <select id="myselect" class="form-control">
                <option value="" selected="selected">Select a Resistor Type</option>
                <option value="form_name1">4-Byte Resistor</option>
                <option value="form_name2">5-Byte Resistor</option>
                <option value="form_name3">6-Byte Resistor</option>
                </select>
                </form>
                </div>
                
                <form name="form_name1" id="form_name1" style="display:none" action = "byte4" method="POST">
                <!---- 4-BYTE RESISTOR---->
                    {% csrf_token %}
                    <h1 align = 'center'>4-Byte Resistor Calculator</h1>
                    <div class = "form-group">
                        <label for="exampleFormControlInput1">1<sup>st</sup> Band Color</label>
                    <select class="form-control" name = "f1">
                        <option value="1">Brown</option>
                        <option value="2">Red</option>
                        <option value="3">Orange</option>
                        <option value="4">Yellow</option>
                        <option value="5">Green</option>
                        <option value="6">Blue</option>
                        <option value="7">Violet</option>
                        <option value="8">Grey</option>
                        <option value="9">White</option>
                    </select>
                    </div>
                    <div class = "form-group">
                        <label for="exampleFormControlInput1">2<sup>nd</sup> Band Color</label>
                    <select class="form-control" name = "f2">
                        <option value="0">Black</option>
                        <option value="1">Brown</option>
                        <option value="2">Red</option>
                        <option value="3">Orange</option>
                        <option value="4">Yellow</option>
                        <option value="5">Green</option>
                        <option value="6">Blue</option>
                        <option value="7">Violet</option>
                        <option value="8">Grey</option>
                        <option value="9">White</option>
                    </select>
                    </div>
                    <div class = "form-group">
                        <label for="exampleFormControlInput1">Multiplier</label>
                    <select class="form-control" name = "mu">
                        <option value="0">Black</option>
                        <option value="1">Brown</option>
                        <option value="2">Red</option>
                        <option value="3">Orange</option>
                        <option value="4">Yellow</option>
                        <option value="5">Green</option>
                        <option value="6">Blue</option>
                        <option value="7">Violet</option>
                        <option value="8">Grey</option>
                        <option value="9">White</option>
                        <option value='10'>Gold</option>
                        <option value = '11'>Silver</option>
                    </select>
                    </div>
                    <div class = "form-group">
                        <label for="exampleFormControlInput1">Tolerance</label>
                    <select class="form-control" name = "to">
                        <option value="0">Brown</option>
                        <option value="1">Red</option>
                        <option value="2">Green</option>
                        <option value="3">Blue</option>
                        <option value="4">Violet</option>
                        <option value="5">Grey</option>
                        <option value="6">Gold</option>
                        <option value="7">Silver</option>
                    </select>
                    </div>
                    <div class="center col mt-2">
                        <center>
                        <input type="submit" class="btn btn-primary" value="Calculate">
                        <input type="button" class="btn btn-danger" onclick="Clean()" style="margin-top: 5px;" value="Reset">
                        <button type="button" class = "btn btn-success"onClick="window.location.reload();" style="margin-top: 5px;">Select Other Resistor</button>
                    </center>
                    </div>
                    
                </form>
                
                <form name="form_name2" id="form_name2" style="display:none">
                <!---- THIS IS FORM 2---->
                {% csrf_token %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Frequency (f)</strong></div>
                        </div>
                        <input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num1"  required >
                        <div class="input-group-text"><strong>Hertz</strong></div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><strong>Capacitance (C)</strong></div>
                            </div>
                            <input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num2"  required >
                            <div class="input-group-text"><strong>μC</strong></div>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><strong>Inductance (L)</strong></div>
                                </div>
                                <input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num3"  required >
                                <div class="input-group-text"><strong>Hertz</strong></div>
                                </div>
                                <div class="center col mt-2">
                                    <center>
                                    <input type="submit" class="btn btn-primary" value="Calculate">
                                    <input type="button" class="btn btn-danger" onclick="Clean()" value="Reset" style="margin-top: 5px;">
                                    <button type="button" class = "btn btn-success" onClick="window.location.reload();" style="margin-top: 5px;">Close</button>
                                    </center>
                                </div>
                </form>
                
                <form name="form_name3" id="form_name3" style="display:none">
                <!---- THIS IS FORM 3---->
                {% csrf_token %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Frequency (f)</strong></div>
                        </div>
                        <input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num1"  required >
                        <div class="input-group-text"><strong>Hertz</strong></div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><strong>Capacitance (C)</strong></div>
                            </div>
                            <input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num2"  required >
                            <div class="input-group-text"><strong>μC</strong></div>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><strong>Inductance (L)</strong></div>
                                </div>
                                <input type="text"  id="Ib" placeholder="If you want to calculate this parameter, input as 'x'"  class="form-control mt-1" name="num3"  required >
                                <div class="input-group-text"><strong>Hertz</strong></div>
                                </div>
                                <div class="center col mt-2">
                                    <center>
                                    <input type="submit" class="btn btn-primary" value="Calculate">
                                    <input type="button" class="btn btn-danger" onclick="Clean()" value="Reset" style="margin-top: 5px;">
                                    </center>
                                </div>
                </form>
                <script>

                    $("#myselect").on("change", function() {
                    $("#" + $(this).val()).show().siblings().hide();
                });
                </script>