{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>    Rounding to Three Decimal Calculator | Free Calculator to Round to Three Decimal </title>
<meta name="description"
    content="    Friction Loss Calculator makes it easy for you to find   Friction Loss ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content=" Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta property="og:description" content="    Friction Loss Calculator" />
<meta content="" property="og:site_name" />
    
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="    Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Round to Three Decimal Calculator</tittle>
<meta property='og:title' content="    Friction Loss Calculator |     Friction Loss" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}
{% block content %}

<style>
    input {
        text-align: right;
    }
</style>
<br>
<br>
<br>
<body>
	<script>
		function Clean(){
            document.getElementById('cards').innerHTML=''
            document.getElementById('cards1').innerHTML=''
		}
        function handleSubmit(event) {
            if(!validate()) {
                event.preventDefault();
            }
            return;
        }
	</script>
	<div class = "container">
	<div class="card">
		<h1 class="card-header" style="background-color:#00BFFF;color: white;">Round To Three Decimal Calculator</h1>
		<div class="card-body">
                <form  method = "POST" onsubmit="handleSubmit();">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Enter Decimal</h5>
                              <input type="number" step = "any"  id="Ib" class="form-control mt-1" name="num1" value="{{num1}}" required >
                                <div class="center col mt-2">
                                    <center>
                                    <input type="submit" class="btn btn-primary" value="Calculate" onclick="myFunction()">
                                    <input type="button" class="btn btn-danger" onclick="Clean()" value="Reset" style="margin-top: 5px;">
                                    </center>
                                </div>
                          </div>
                        </div>
                        </div>
                        <div class="col-sm-4">
                          </div>
                      </div>
                      
                </form>
            </div>
            </div>
        </div>
        {%if cas %}
	<div class = "container" id = "cards">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;text-align: center;">Rounding {{num1}} to Three Decimal Place is</h1>
        <div class="card-body">
            <p>{{num1}} = {{res}}</p>
        </div>
    </div>
	</div>
{% endif%}
    {%if cas %}
	<div class = "container" id = "cards1">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;text-align: center;">Steps to Round off {{num1}} to Three Decimal Places</h1>
        <div class="card-body">
            <p>Rounding calculator to round numbers up or down to any decimal place</p>
            <h5>Given Value = {{num1}}</h5>
            <p>Steps to Round off Number to three decimal places</p>
            <ul>
                <li><p>Locate the Fourth Digit after the Decimal Point.Here, it is<br>
                    {{dec}} in {{num1}}</p></li>
                <li><p>If the located digit is 5 or more, increase the previous digit by one and remove all digits to right<br>
                    {%if c1%}
                    Here in this case, it is {{res}} as the located digit is {{dec}}</p></li><br>
                    {%endif%}
                <li><p>If it's 4 or less, keep the previous digit the same and remove all digits to right<br>
                {%if c2%}
                Here it is, {{res}} as the located digit is {{dec}}</p></li>
                {%endif%}
            </ul>
            <p>The value of Rounded Value to one decimal is</p>
                <h4><b>{{num1}} = {{res}}</b></h4> 
        </div>
    </div>
	</div>
	{% endif %}
    <script>
        var scrollDiv = document.getElementById("cards").offsetTop;
        window.scrollTo({ top: scrollDiv, behavior: 'smooth' });
        
            function myFunction() {
                document.getElementById("cards").innerHTML = "";
        
            }
        </script>
</body>
{% endblock %}