{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>    Rounding to Significant Digits Calculator | Free Calculator to Round to Significant Digits </title>
<meta name="description"
    content="    Friction Loss Calculator makes it easy for you to find   Friction Loss ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content=" Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta property="og:description" content="    Friction Loss Calculator" />
<meta content="" property="og:site_name" />
    
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="    Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Round to Significant Digits Calculator</tittle>
<meta property='og:title' content="    Friction Loss Calculator |     Friction Loss" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}
{% block content %}

<style>
    input {
        text-align: right;
    }
</style>
<br>
<br>
<br>
<body>
	<script>
		function Clean(){
            document.getElementById('cards').innerHTML=''
		}
	</script>
	<div class = "container">
	<div class="card">
		<h1 class="card-header" style="background-color:#00BFFF;color: white;">Round To Significant Digits Calculator</h1>
		<div class="card-body">
                <form action="sigfig" method = "POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Enter Decimal</h5>
                                <input type="number" step = "any"  id="Ib" class="form-control mt-1" name="num1"  required >
                                <h5 class="card-title">Enter Number of Significant Digits</h5>
                                <input type="number" id="Ib" class="form-control mt-1" name="num2"  required >
                                <div class="center col mt-2">
                                    <center>
                                    <input type="submit" class="btn btn-primary" value="Calculate">
                                    <input type="button" class="btn btn-danger" onclick="Clean()" value="Reset" style="margin-top: 5px;">
                                    </center>
                                </div>
                          </div>
                        </div>
                        </div>
                        <div class="col-sm-4">
                          </div>
                      </div>
                      
                </form>
            </div>
            </div>
        </div>
    {%if cas %}
	<div class = "container" id = "cards">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;text-align: center;">Detailed Explanation</h1>
        <div class="card-body">
            <h3>Given Value = {{num1}}</h3><br>
            <h3>Steps involved in Rounding off a number to {{num2}} Significant Digits </h3> 
            <ul>
                <li><h4>Locate the {{st}} digit starting from left<br><br> Here it is, {{dec}} in {{num1}}</h4></li>
                <li><h4>If the located digit is, 5 or more, then increase the previous digit by 1 <br><br>
                    {%if c1%}
                    Here it is, {{res}} as the located digit is {{dec}}</h4></li>
                    {%endif%}
                <li><h4>If the located digit is, 4 or less, then keep the previous digit as it is <br><br>
                    {%if c2%}
                    Here it is, {{res}} as the located digit is {{dec}}</h4></li>
                    {%endif%}
                <li><h4>Fill all the digits to the right to zeroe's</h4></li>
            </ul>
            <h4>The value of Rounded Value to {{num2}} Significant Digits is <br>
                <h2><b>{{num1}} = {{res}}</b></h2> 
        </div>
    </div>
	</div>
	{% endif %}
</body>
{% endblock %}